<header>
    <nav class="relative container mx-auto m6">
        <div class="flex items-center justify-between">
            <div class="pt-2">
                <a
                            href="/"
                            class="flex items-center py-5 px-3 text-gray-700"
                            ><svg
                                class="h-6 w-6 mr-1 text-blue-500"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 h-6"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244"
                                />
                            </svg>
                            <span class="font-bold">Waypoint Computing</span>
                        </a>
            </div>
            <div class="hidden md:flex space-x-6">
                <a href="spiritual-gifts" class="text-gray-700 hover:text-blue-500">Tests</a>



                <a href="dept-news" class="text-gray-700 hover:text-blue-500">Department News</a>
                <a href="kenya2024" class="text-gray-700 hover:text-blue-500">Missions</a>

            </div>
            <div class="hidden md:flex items-center space-x-1">
                <a href="dashboard" class="py-5 px-3 text-gray-700 hover:text-blue-500">Dashboard</a>
                <a href="login" class="py-2 px-6 bg bg-yellow-400 text-yellow-800 hover:bg-yellow-300 rounded-full">Login</a>
            </div>

            <!-- Hamburger Icon -->
            <button id="menu-btn" class="block text-right hamburger md:hidden focus:outline-none">
                <span class="hamburger-top"></span><span class="hamburger-middle"></span><span class="hamburger-bottom"></span>
            </button>

            <!-- Mobile Menu -->
        </div>
        <div class="md:hidden">
            <div id="menu" class="menu absolute flex-col items-center hidden self-end py-8 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
                <a href="spiritual-gifts" class="text-gray-700 hover:text-blue-500">Tests</a>
                <a href="dept-news" class="text-gray-700 hover:text-blue-500">Department News</a>
                <a href="kenya2024" class="text-gray-700 hover:text-blue-500">Missions</a>
                <a href="dashboard" class="py-5 px-3 text-gray-700 hover:text-blue-500">Dashboard</a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="py-2 px-6 bg bg-yellow-400 text-yellow-800 hover:bg-yellow-300 rounded-full">Login</a>
            </div>
        </div>
        <script src="/js/menu.js" defer></script>
    </nav>
</header>
