<section id="options">
    <div class="container flex flex-col items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 md:w-1/2">
        <div class="flex flex-col md:flex-row m-4 w-full shadow hover:shadow-lg">
            <img class="md:w-1/2 md:max-w-md p-4" src="/img/prayer.jpg" alt="someone taking a test">
            <div class="flex flex-col justify-around md:w-1/2 md:max-w-md p-4 min-h-[250px]">
                <h2 class="font-bold text-lg m-1">Spiritual gifts test</h2>
                <p>Test to see what spiritual gifts you have and how best to use them</p>
                <div><a class="p-3 px-6 pt-2 m-8 text-white bg-red-500 rounded-full baseline hover:bg-red-300" href="spiritual-gifts">Take the Test</a></div>
            </div>
        </div>


        <div class="flex flex-col md:flex-row-reverse m-4 w-full shadow hover:shadow-lg">
            <img class="md:w-1/2 md:max-w-md p-4" src="/img/kenya.jpg" alt="mount kilamjaro">
            <div class="flex flex-col justify-around md:w-1/2 md:max-w-md p-4 min-h-[250px]">
                <h2 class="font-bold text-lg m-1">Kenya 2024</h2>
                <p>Bringing technology to Kendu, Kenya</p>
                <div><a class="p-3 px-6 pt-2 m-8 text-white bg-red-500 rounded-full baseline hover:bg-red-300" href="kenya2024">More information</a></div>
            </div>
        </div>


        <div class="flex flex-col md:flex-row m-4 w-full shadow hover:shadow-lg">
            <img class="md:w-1/2 md:max-w-md p-4" src="/img/events.jpg" alt="image of a calendar">
            <div class="flex flex-col justify-around md:w-1/2 md:max-w-md p-4 min-h-[250px]">
                <h2 class="font-bold text-lg m-1">Events</h2>
                <p>Find out more about events happening in the computing department.</p>
                <div><a class="p-3 px-6 pt-2 m-8 text-white bg-red-500 rounded-full baseline hover:bg-red-300" href="dept-news">Calendar</a></div>
            </div>
        </div>

        <div class="flex flex-col md:flex-row-reverse m-4 w-full shadow hover:shadow-lg">
            <img class="md:w-1/2 md:max-w-md p-4" src="/img/struggle.jpg" alt="mount kilamjaro">
            <div class="flex flex-col justify-around md:w-1/2 md:max-w-md p-4 min-h-[250px]">
                <h2 class="font-bold text-lg m-1">Struggling in CS</h2>
                <p>Are you struggling in computer science?</p>
                <div><a class="p-3 px-6 pt-2 m-8 text-white bg-red-500 rounded-full baseline hover:bg-red-300" href="https://dra.cs.southern.edu/StrugglingInComputerScience">Stop the Struggle</a></div>
            </div>
        </div>
    </div>
</section>
